# Configuration
/.env.local

# Composer
/vendor/

# Node
/node_modules/

# Contao Manager
/contao-manager/

# Generated folders
/assets/
/files/*
!/files/bart-p/
!/files/bart-p/**
/public/
/system/*
!/system/config/
/system/config/localconfig.php
/var/

# Skip files
/system/modules/*/.skip
/.php-cs-fixer.cache
/.twig-cs-fixer.cache
