.container {
  width: 100%;
  max-width: 76rem;
  margin-inline: auto;
}

main {
  display: grid;
  gap: clamp(4rem, 5vw, 10rem);
  margin-inline: auto;
}

main > .mod_article:not(.hero) {
  width: 100%;
  max-width: 64rem;
  margin-inline: auto;
}
